.addform {
  margin: 10px auto;
  width: 400px;
  margin-right: 500px;
  text-align: left;
  background: #faf6f6b9;
  box-shadow: 0 80px 80px -40px #673ab7;
  padding: 10px;
}
.input {
  font-size: 20px;
  text-align: left;
  padding: 10px 10px !important;
  margin: 10px auto;
  max-width: 377px;
  width: 100%;
  height: 30%;
  color: #6718dd;
  border-radius: 0%;
}
.addform button {
  background-color: #074e9e;
  padding: 20px 90px;
  font-size: 17px;
  margin-top: 17px;
  outline: none;
  border: 0;
  border-radius: 7px;
  color: rgb(7, 5, 5);
  margin-right: 17px;
}
.addform button a {
  color: rgb(7, 4, 4);
  text-decoration: red;
}
.label{
  font-size: 30px;
  color: #734cad;
  font-family:'Times New Roman', Times, serif;
}
.h1{
  font-size: 30px;
  color: rgb(16, 20, 19);
}
.a {
 
  color: #144ba3;
}
.TextField{
  font-size: 20px;
  text-align: left;
  padding: 10px 5px !important;
  margin: 100px auto;
  max-width: 377px;
  width: 50%;
  height: 30%;
  color: #53426d;
  border-radius: 10%;
}
.h1{
  font-size: 150%;
  text-align: left;
  margin: 30px auto;
  color: rgb(14, 99, 173);
  font-family: 'Courier New', Courier, monospace;
 
}
